<app-header></app-header>
<form [formGroup]="Form" (ngSubmit)="insertUser(Form)"> 
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>
    
    <label for="cpf"  class="sr-only">CPF</label>
    <input type="cpf"  formControlName="cpf"  class="form-control" placeholder="CPF" required autofocus>
    
    <label for="name" class="sr-only">Nome</label>
    <input type="name" formControlName="name" class="form-control" placeholder="Nome" required>

    <label for="password" class="sr-only">Senha</label>
    <input type="password" formControlName="password" class="form-control" placeholder="Senha" required>
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Cadastrar</button>
  </div>
  </form>