.row {
    margin-top: 7%;
    margin-left: 19%;
}

.info{
    margin-left: 20%;
}

.details{
    margin-top: 10%;
}

@media screen and (max-width: 1199px) {
    .row {
        margin-top: 8%;
        margin-left: 19%;
    }
}

@media screen and (max-width: 991px) {
    .row {
        margin-top: 10%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 767px) {
    .row {
        margin-top: 13%;
        margin-left: 11%;
    }
}

@media screen and (max-width: 575px) {
    .form-control{
        width: 75%;
        margin-right: 5px;
    }
}

@media screen and (max-width: 529px) {.row{margin-left: 10%;}}
@media screen and (max-width: 499px) {.row{margin-left: 9%;}}
@media screen and (max-width: 487px) {.row{margin-left: 8%;}}
@media screen and (max-width: 445px) {.row{margin-left: 7%;}}
@media screen and (max-width: 427px) {.row{margin-left: 6%;}}